:root {
    --main-bg-color: rgb(32, 130, 228);
    --second-bg-color: #f1b62b;
    --third-bg-color: #5ea1ff;
    --link-color: #ffa963;
    --navbar-height: 77px;
    --edukt: rgb(2, 94, 187);
    --maestro: #f1b62b;
    --box-shadow: rgba(32, 119, 191, 0.4);
    /* --navbar-height: 0px; */
    --section-height: 100vh;
}

.my-left-separator {
    border-left: 1px solid #e0e0e0;
}

.my-column {
    display: flex;
    flex-direction: column;
}

.my-text-start {
    text-align: start !important;
}

.my-text-center {
    text-align: center !important;
}

.my-text-end {
    text-align: end !important;
}
.my-mg-auto{
    margin: auto;
}
.my-font {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif !important;
}

.my-font-all, .my-font-all>* {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif !important;
}

.my-second-text {
    font-style: italic;
    margin-top: 0;
    color: #868e96 !important;
}

* {
    box-sizing: border-box !important;
}

html, body {
    background-color: #f6f6f6;
}

label, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.my-bg-main {
    background-color: #f6f6f6;
}

.my-btn {
    display: inline-block !important;
    min-width: 135px !important;
    text-align: center !important;
    margin-top: 20px !important;
    color: #fff !important;
    padding: 8px 20px !important;
    background-color: var(--main-bg-color) !important;
    border-radius: 35px !important;
    border: 2px solid var(--main-bg-color) !important;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2) !important;
    transition: all 0.3s ease 0s !important;
}

.my-btn:hover {
    color: var(--main-bg-color) !important;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px var(--box-shadow);
    transform: translateY(-6px);
}

.my-btn:focus {
    outline: none;
}

.my-shadow {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1) !important;
}

.my-no-shadow {
    box-shadow: none !important;
}

.my-del-mw {
    max-width: none !important;
}

.my-del-pd {
    padding: 0 !important;
}

.my-color-black {
    color: black !important;
}

.my-color-white {
    color: white !important;
}

.my-card {
    border-radius: 20px;
    background: white !important;
    padding: 20px 15px !important;
}

.my-float-r {
    float: right;
}

.my-float-l {
    float: left;
}

.my-block {
    display: block !important;
}

.row {
    margin: auto;
}

.my-hide {
    display: none !important;
}

.my-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.my-center-all, .my-center-all * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.my-y-center {
    display: flex;
    align-items: center;
}

.my-y-center-all, .my-y-center-all * {
    display: flex;
    align-items: center;
}

.my-x-center {
    display: flex;
    justify-content: center;
}

.my-x-center-all, .my-x-center-all * {
    display: flex;
    justify-content: center;
}

.my-y-down {
    display: flex;
    align-items: flex-end;
}

.my-mg-center {
    margin: auto;
}

.my-row {
    display: flex;
    flex-direction: row;
}

::-webkit-scrollbar {
    max-width: 7px;
    max-height: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #ff525200;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #757575b3;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Móviles */
@media (max-width: 576px) { }